<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InetBanking">

  <listeners>
  	<listener class-name="com.interBanking.utilities.Reporting" />
  </listeners>

  <test thread-count="5" name="Test">
  	<parameter name="browser" value="firefox"/>
    <classes>
        <class name="com.interBanking.testCases.TC_LoginTest_001"/>  
      <!-- <class name="com.interBanking.testCases.TC_LoginDDT_002"/>   -->
     <!-- <class name="com.interBanking.testCases.TC_AddCustomerDDT"/>   -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
